.social
    position: absolute
    right: 0
    top: 0
    width: 200px
    padding-top: 20px
    h4
        font-weight: normal
        font-size: 20px
    ul
        list-style-type: none
        padding-left: 0
        li
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 20px
            font-size: 20px
            a
                color: black
            img
                width: 100px
                height: 50px
