.social
    position: absolute
    right: 0
    top: 0
    padding-left: 20px
    width: 200px
    height: 100%
    background: #eee2cf
    padding-top: 20px
    h4
        font-weight: normal
        font-size: 20px
    ul
        list-style-type: none
        padding-left: 0
        li
            margin-bottom: 20px
            font-size: 20px
            a
                color: black
            img
                width: 100px
                height: 50px

@media screen and ( max-width: 990px )
    .social
        width: 100%
        position: relative
        height: auto
        ul
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: center
            li
                display: inline-block
                margin-right: 40px
